name: Spell Check

on: [push, pull_request]

jobs:
  spell_check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Cache pip dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Black
        run: |
          pip install black
          black --check .

      - name: Run codespell
        run: codespell --ignore-words=config/codespell_ignore.txt **/*

      - name: Set up PYTHONPATH
        run: echo "::set-env name=PYTHONPATH::${{ github.workspace }}/scripts"

      - name: Run tests
        run: pytest test/
        env:
          PYTHONPATH: ${{ env.PYTHONPATH }}
